<!doctype html>
<html lang="en">
<head>
    <a href="{%  url 'index' %}">index</a>
    <a href="{%  url 'contact' %}">Contact us</a>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>MIT</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet at cumque delectus distinctio dolores est fugiat iure labore laudantium magnam neque nihil nostrum quisquam sequi sit tenetur vel, veritatis voluptatum.</span>5</p>
</body>
</html>
